<header class="header">
    <div class="logo-box">
        <img src="../../assets/logo.png" alt="logo" class="logo">
    </div>
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Software</span>
            <span class="heading-primary-sub">is where virtual life happens</span>
    
        </h1>
        <button class="primary-button">
            <a href="#" class="primary-button-title">Discover My Own Projects</a> 
        </button>

    </div>
    
</header>